*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style  */


/*body{
    background-color: coral;
}*/

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;

}
.color-orange{
    color:#FD6E0A;
    font-weight: 900;
}
.btn{
    background-color:#FD6E0A;
    border:none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size :20px;
    font-weight: bold;
    color: white;
}
/* main style  */
header{
    background-color: #fff8f3;
    padding-top : 50px;
}
nav{
    width: 74%;
    max-width: 1140px;
   /* border:1px solid red; */
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
   
}
nav .menu a{
    font-size :20px;
    color: #474747;
    text-decoration: none;


}
#Banner{
    border : 1px solid red;
    margin: 46px 38px 0px 230;
    display: flex;
    justify-content:space-between;
    align-items: center;


}
#Banner .banner-contain{
      max-width: 565px;

}
#Banner .banner-contain h2{
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;

}
#Banner .banner-contain h2{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;




}
#Banner .banner-contain p{
  
    font-size:18px;
    font-weight:#757575;
    line-height: 30px;
   

}